---
import "@assets/styles/reset.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import Meta from "./components/Meta.astro";

interface Props {
	title?: string;
	description?: string;
}

const { title = "Default", description = "Default" } = Astro.props;
const ogImagePublicPath = "";
---

<BaseLayout>
	<Meta slot="meta" {title} {description} {ogImagePublicPath} />
	<main>
		<slot />
	</main>
</BaseLayout>
